extends layout

block content
	h2 Profile
	h3 @ #{userl.username}
	div.wrapper
		.details.jumbotron
			i.fa.fa-user
			.jumbotron
				h3 #{userl.name}
				h4 Room - #{userl.room}
				h4 Branch - #{userl.branch}
				h3 Debt - INR #{userl.debt}
		if user
			if user.username!=userl.username
				.jumbotron
					h3 Request #{userl.name}
					br
					form(method='POST' action='/request/'+userl._id)
						#form-group.wrap3
							label Subject  :
							input.input-group.input1(name="subject" ,type="text")
						#form-group.wrap3
							label Amount (INR) :
							input.input-group.input1(name="amount" ,type="number")
						//#form-group
							label Payment Method :
							.radio-inline
								input.form-control(name="cash" ,type="radio")
								input.form-control(name="paytm" ,type="radio")
						br
						input.button.btn(type='submit' value='Request')
		.jumbotron
			h2 Notifs
			ul.nav.nav-tabs
				li.active
					a(data-toggle="tab" href="#req") Requests
				if user
					if (user.username==userl.username)
						li
							a(data-toggle="tab" href="#status") Status
			.tab-content
				#req.tab-pane.fade.in.active
					.jumbotron
						ul.list-group.list1
							each notif in r_notifs
								li.list-group-item.card1
									.lh
										h3 From : #{notif.applicant.name}
										h4 Request : <strong>INR #{notif.amount}</strong> 
										h4.line Subject : #{notif.subject}
										if user
											if (user.username==userl.username)
												if !notif.accept && !notif.reject
													a.button.btn(href='/user/accept/'+notif._id) Accept
													a.button.btn(href='/user/reject/'+notif._id) Reject
												if notif.accept && !notif.done
													a.button.btn() Complete This Transaction
												if notif.accept && notif.done
													a.button.btn() Completed
												if notif.reject
													a.button.btn() Rejected
				#status.tabe-pane.fade
					.jumbotron
						ul.list-group.list1
							each notif in a_notifs
								if notif.accept && !notif.reject && !notif.done
									li.list-group-item.card1
										h3 Request to : #{notif.recipient.name}
										h4 Amount : <strong>INR #{notif.amount}</strong>
										h4 Subject : #{notif.subject}
										h4.line3(style="background-color:lightgreen;") Accepted
										a.button.btn(href='/user/accept/done/'+notif._id) Payment Recieved
								if !notif.accept && notif.reject
									li.list-group-item.card1
										h3 Request to : #{notif.recipient.name}
										h4 Amount : <strong>INR #{notif.amount}</strong>
										h4 Subject : #{notif.subject}
										h4.line2(style="background-color:pink;") Rejected
								if !notif.accept && !notif.reject
									li.list-group-item.card1
										h3 Request to : #{notif.recipient.name}
										h4 Amount : <strong>INR #{notif.amount}</strong>
										h4 Subject : #{notif.subject}
										h4.line2(style="background-color:lightgray;") Pending

								
